@import "reset.css";

body {
  height: 100vh;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  background-color: rgba(00, 80, 00, 0.7);
}

a {
  text-decoration:none;
}

.logo-image {
  width: 145px;
  height: 75px;
  position: fixed;
  margin-left: 45px;
  margin-top: -90px;
}

.header {
  margin-top: 100px;
}

.header__welcome-message,
.header__main-message,
.header__sub-message {
  text-align: center;
}

.header__welcome-message {
  font-size: 35px;
  font-weight: 400;
}

.header__main-message {
  font-weight: 700;
  font-size: 55px;
  margin-bottom: 40px;
}

.header__sub-message {
  margin-bottom: 100px;
}

.zoom-button {
  border: none;
  width: 350px;
  height: 135px;
  font-weight: 600;
  font-size: 20px;
  display: block;
  margin: auto;
  margin-bottom: 200px;
  text-decoration: none;
  transition: background-color 0.5s ease-in-out;
  position: relative;
}

.zoom-button:hover {
  cursor: pointer;
  background-color: #BBB;
}

.zoom-button i {
  margin-bottom: 30px;
  text-align: center;
}

.zoom-button div {
  box-sizing: border-box;
  transition: margin-bottom 0.1s ease-in-out;
}

.zoom-button div:hover {
  margin-bottom: 50px;
}

footer p {
  font-size: 25px;
  font-weight: 700;
}

